
@mixin make-dashicon( $content )
{
	&:before
	{
		content : $content;
		display: inline-block;
	    font: normal 20px/1 dashicons;
	    speak: none;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    text-decoration: none !important;
	}
}