/**
 * Cover Image
 * -------------------------------------------------------------------
 */
 
.pb-cover-image
{
	position: relative;

	&:before
	{
	    content: '';
		display: block;
	}

	img
	{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: 0;
	    object-fit: cover;
	    object-position: center center;
	    max-width: none;
	}

	// IE `object-fit` fallback
	// Background image set via JavaScript.

	.pb-browser-ie &
	{
		background: no-repeat center center;
		background-size: cover;

		> img
		{
			display: none !important;
		}
	}
}

// Creates series of ratios

.pb-cover-image-21by9:before
{
	padding-top: percentage( 9 / 21 );
}

.pb-cover-image-16by9:before
{
	padding-top: percentage( 9 / 16 );
}

.pb-cover-image-4by3:before
{
	padding-top: percentage( 3 / 4 );
}

.pb-cover-image-1by1:before
{
	padding-top: percentage( 1 / 1 );
}



