//
// Variables
// --------------------------------------------------

// Gallery
// -------------------------------------------------------------------

$pb-gallery-gutter-width:	10px !default;

// Utils
// -------------------------------------------------------------------

$pb-opacity-from   : 5 !default;
$pb-opacity-until  : 100 !default;
$pb-opacity-step   : 5 !default;

$pb-vh-from   : 5 !default;
$pb-vh-until  : 100 !default;
$pb-vh-step   : 5 !default;