
.pb-card-widget
{
	.pb-widget-preview-content
	{
		h3
		{
			font-size: 1em;
			margin: 0 0 .5em;
		}

		p
		{
			margin: 0 0 .5em;
		}

		.pb-col:first-child:not(:last-child)
		{
			flex-grow: 0;
		}
	}
}