
.pb-list-widget
{
	ul
	{
		margin: 0;

		> li
		{
			position: relative;
			padding-left: $icon-font-size-base + .5rem;

			.pb-list-icon
			{
				position: absolute;
				left: 0;
			}

			p
			{
				margin-top: 0;
			}
		}
	}
}