
.pb-row-widget
{
    > .pb-widget-inside
    {
        padding: 0;

        >.pb-widget-container
        {
            padding: $widget-inside-padding-y $widget-inside-padding-x 1px;
        }
    }
}

#pb-row-widget-settings
{
    .pb-layout-picker
    {
        span
        {
            display: block;
        }

        @include clearfix();

        margin-bottom: 5px;

        > .pb-row
        {
            box-shadow: 0 1px 1px rgba( #000, .04 );
            
            float: left;
            width: 60px;
            margin: 0 10px 10px 0;
            padding: 2px;
            border: 1px solid #e5e5e5;
            cursor: pointer;

            &:hover,
            &:focus
            {
                border-color: #999;
            }

            &.active
            {
                border-color: #0073aa;
            }

            > [class*="pb-col-"]
            {
                padding: 2px;

                > .inner
                {
                    height: 35px;
                    background: #dedede;
                }
            }
        }
    }
}
