

.pb-widget-preview-meta
{
	.pb-icon
	{
		vertical-align: text-bottom;
	}	
}

/**
 * Thumbnail
 * -------------------------------------------------------------------
 */

.pb-thumbnail
{
	[class*="pb-icon-"]
	{
		line-height: 1;
		font-size: $thumbnail-size / 2;
	}
}

.pb-thumbnail-sm
{
	[class*="pb-icon-"]
	{
		font-size: $thumbnail-sm-size / 2;
	}
}

/**
 * Icon Picker
 * -------------------------------------------------------------------
 */

#pb-icon-picker 
{
	.pb-icons
	{
		display: flex;
		flex-wrap: wrap;
		height: 250px;
		overflow-y: scroll;
		margin-left: -5px;
		margin-right: -5px;

		.pb-icon-picker-icon
		{
			margin: 5px;
			border: 1px solid #e5e5e5;
			padding: 5px;
			width: 50px;
			height: 50px;
			line-height: 1;
			cursor: pointer;
			line-height: 1;
			background: #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			font-size: 25px;
			cursor: pointer;
			user-select: none;

			&.active,
			&:hover
			{
				color: #2E72A6;
				border-color: #999;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			}

			[class*="pb-icon-"]
			{
				font-size: inherit;
				line-height: inherit;
			}
		}
	} 
 
  
}