
table.pb-repeater-table
{
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;

	td, th
	{
		text-align: left;
		vertical-align: top;
		border: 1px solid #dedede;
	}

	th
	{
		padding: 8px 12px;
	}

	td
	{
		padding: 15px 12px;
	}

	td.pb-field
	{
		> .pb-input
		{
			padding: 0;
		}
	}
}

.pb-field-type-repeater
{
	th.move, td.move,
	th.remove, td.remove
	{
		width: 1px;
	}

	.pb-repeater-row
	{
		&.ui-sortable-handle
		{
			background: #fff;

			.js &
			{
				cursor: move;
			}
		}

		&.ui-sortable-helper
		{
			opacity: .7;
		}
	}
}

.pb-repeater-remove
{
	&.button-link
	{
		text-decoration: none;
	}
}
