
/**
 * Common
 * -------------------------------------------------------------------
 */

.pb-clone
{
	display: none;
}

.pb-show-if-value
{
	display: none;
}

.pb-has-value
{
	.pb-hide-if-value
	{
		display: none;
	}

	.pb-show-if-value
	{
		display: block;
	}
}

/**
 * Loading
 * -------------------------------------------------------------------
 */

.pb-loading
{
	p.submit
	{
		position: relative;

		&:before
		{
		    content: '';
		    background: transparent url(../images/loader-dark.svg) no-repeat center center;
		    background-size: contain;

		    position: absolute;
		    top: 0;
		    right: 0;
		    width: 28px;
		    height: 28px;

			animation-name: pb-spin; 
		    animation-duration: 2s; 
		    animation-iteration-count: infinite;
		    animation-timing-function: linear;
		}

		input
		{
			visibility: hidden;
		}
	}
}


/**
 * Debug
 * -------------------------------------------------------------------
 */

body
{
	&.pb-debug
	{
		.pb-hide-if-debug
		{
			display: none;
		}
	}

	&:not( .pb-debug )
	{
		.pb-show-if-debug
		{
			display: none;
		}
	}
}

/**
 * Editor
 * -------------------------------------------------------------------
 */

.pb-editor
{
	margin-top: 12px;
}

.pb-editor-footer
{
	margin-top: 12px;
}

.pb-available-widgets
{
	display: none;
}

.pb-add-widget-control
{
	cursor: pointer;
	width: 100%;
	margin: 0;
	padding: 15px;
	border: 1px dashed #b4b9be;
	font-size: 1em;
	line-height: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
	background: none;
	outline: none;
	
	&:hover
	{
		border-color: #999;
	}
}

.ui-autocomplete
{
	z-index : $modal-z-index + 100 !important;

	max-height: 200px;
    overflow-y: auto;
   	// prevents horizontal scrollbar
    overflow-x: hidden;
}




