
html.with-featherlight
{
	/* disable global scrolling when featherlights are visible */
	overflow: hidden;
}

.pb-modal
{
	display: none;

	/* dimensions: spanning the background from edge to edge */
	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: $modal-z-index;

	/* position: centering content */
	text-align: center;

	/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
	white-space: nowrap;

	/* styling */
	cursor: pointer;
	background: #333;
	/* IE8 "hack" for nested featherlights */
	//background: rgba(0, 0, 0, 0);

	background: $modal-backdrop-color;
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.pb-modal:last-of-type
{
	// Not working
	//background: $modal-backdrop-color;
}

.pb-modal:before
{
	/* position: trick to center content vertically */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.pb-modal-content
{
	/* make content container for positioned elements (close button) */
	position: relative;

	/* position: centering vertical and horizontal */
	text-align: left;
	vertical-align: middle;
	display: inline-block;

	/* dimensions: cut off images */
	overflow: auto;
	padding: $modal-padding-y $modal-padding-x 0;
	border-bottom: $modal-padding-y solid transparent;

	/* dimensions: handling large content */
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;

	/* styling */
	background: #fff;
	cursor: auto;

	@media ( min-width: $screen-sm-min )
	{
		width: $screen-sm-min - 60px;
	}

	/* reset white-space wrapping */
	white-space: normal;

	box-shadow: $modal-box-shadow;

	h1
	{
		margin: (-$modal-padding-y) (-$modal-padding-x) 0;
		padding: 0 ( $modal-close-size + 15px ) 0 $modal-padding-x;
		font-size : $modal-header-font-size;
		line-height : $modal-header-height;
		background-color: $modal-header-bg-color;
		border-bottom: 1px solid #ddd;
	}

	p.submit
	{
		text-align: right;

		margin: $modal-padding-y 0 0;
		padding: 0 0 1px 0;
	}
}

/* contains the content */
.pb-modal-inner
{
	/* make sure its visible */
	display: block;
}

/* don't show these though */
script.pb-modal-inner,
link.pb-modal-inner,
style.pb-modal-inner
{
	display: none;
}

.pb-modal-close-icon
{
	/* position: centering vertical and horizontal */
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;

	margin: 0;
	padding: 0;
	border: 0;
	width: $modal-close-size;
	line-height: $modal-close-size;
	background: none;

	/* styling */
	cursor: pointer;
	text-align: center;
	font-family: Arial, sans-serif;
	//background: #fff; /* Set the background in case it overlaps the content */
	//background: rgba(255, 255, 255, 0.3);
	color: #000;
	border: none;
	padding: 0;
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.pb-modal-close-icon::-moz-focus-inner
{
	border: 0;
	padding: 0;
}

.pb-modal-image
{
	/* styling */
	width: 100%;
}

.pb-modal-iframe .pb-modal-content
{
	/* removed the border for image croping since iframe is edge to edge */
	border-bottom: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}

.pb-modal iframe
{
	/* styling */
	border: none;
}

.pb-modal *
{ /* See https://github.com/noelboss/featherlight/issues/42 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* hide non featherlight items when printing */
@media print
{
	html.with-featherlight > * > :not(.pb-modal)
	{
			display: none;
	}
}
