/**
 * Fields
 */

.pb-label
{
	display: block;
	margin: 0 0 10px;
	padding: 0;
	vertical-align: top;
	font-weight: bold;
}

.pb-field
{
	input[type="text"], 
	input[type="password"], 
	input[type="number"], 
	input[type="search"], 
	input[type="email"], 
	input[type="url"], 
	textarea, 
	select 
	{
	    width: 100%;
	    padding: 3px 5px;
	    resize: none;
	    margin: 0;
	    box-sizing: border-box;
	    font-size: 14px;
	    line-height: 1.4;
	}

	input[type="text"], 
	input[type="password"], 
	input[type="number"], 
	input[type="search"], 
	input[type="email"], 
	input[type="url"]
	{
		height: 28px;
    	margin: 0;
	}

	p.description
	{
		margin: 5px 0 0;
		padding: 0;
	}
}

.pb-fields
{
	> .pb-field
	{
		position: relative;
	    margin: 0;
	    padding: 15px 12px;
	    border-top: #eee solid 1px;

	    &:first-child
	    {
	    	border-top-width: 0;
	    }
	}

	.pb-modal &
	{
		margin-left: -$modal-padding-x;
		margin-right: -$modal-padding-x;

		> .pb-field
		{
			padding: 15px $modal-padding-x;

			border-top: none;
			border-bottom: #eee solid 1px;
		}
	}
}

.pb-sub-fields
{
	> .pb-field
	{
		margin-top: 15px;

		&:first-child
		{
			margin-top: 0;
		}
	}
}

.pb-field-wysiwyg .mce-tinymce
{
	border: 1px solid #E5E5E5;
    box-shadow: none;
}

