/**
 * Nav
 */

.pb-nav
{
	display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.pb-nav-item
{
	
}

.pb-nav-link
{
	display: block;
    padding: .5rem 1rem;

    text-decoration: none;

    &:hover,
    &:active,
    &.active
    {
    	color: #00a0d2;
    }

    &:focus
    {
    	box-shadow: none;
    }
}

.pb-fields
{
	> .pb-field > .pb-nav
	{
		background: #e5e5e5;

		.pb-nav-item
		{
			//flex: 1 1 auto;
   			//text-align: center;
		}

		.pb-nav-link
		{
			padding: 12px 20px;
			font-size: 14px;
		    line-height: 24px;
		    font-weight: 600;
		    color: #555;
		    white-space: nowrap;

		    &:hover,
		    &:active,
		    &.active
		    {
		    	color: #000;
		    	background-color: #fff;
		    }
		}
	}
}

.pb-sub-fields
{
	.pb-nav
	{
		.pb-nav-item
		{
			margin-right: 5px;
		}

		.pb-nav-link
		{
			padding: 4px 8px;
		    border-radius: 5px;
		    font-size: 10px;
		    text-transform: uppercase;
		    line-height: 1.5;
		    font-weight: 600;
		    background: #f1f1f1;
		    color: #555;
		    white-space: nowrap;

		    &:hover,
		    &:active,
		    &.active
		    {
		    	color: #fff;
		    	background-color: #2F3336;
		    }
		}
	}
}