/**
 * Variables
 */

$modal-padding-x: 			20px !default;
$modal-padding-y: 			20px !default;
$modal-z-index: 			  100000 !default;
$modal-title-font-size: 	22px !default;
$modal-title-line-height: 	50px !default;
$modal-close-size: 		50px !default;
$modal-backdrop-color: 		#000 !default;
$modal-backdrop-opacity: 	0.7 !default;

$theme-colors: (
  primary   : #0073aa,
  secondary : #00a0d2,
  teriary   : #333,
  quaternary: #222,
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 401px,
  md: 783px,
  lg: 961px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;
