/**
 * Widgets
 */

$widget-margin-y : 15px;

// Top
$widget-top-color:              #23282d;
$widget-top-font-size:          13px;
$widget-top-line-height:        1.4em;
$widget-top-font-weight:        600;
$widget-top-border-width:       1px;
$widget-top-border-color:       #e5e5e5;
$widget-top-border-color-hover: #999;
$widget-top-background:         #fafafa;
$widget-top-padding-x:          15px;
$widget-top-padding-y:          15px;
$widget-top-height:             $widget-top-padding-y * 2 + $widget-top-font-size;

// Title
$widget-title-font-size:        1em;

// Control
$widget-control-color:          #72777c;
$widget-control-hover-color:    inherit;
$widget-control-padding-x:      5px;
$widget-control-padding-y:      5px;

// Inside
$widget-inside-padding-x:       15px;
$widget-inside-padding-y:       15px;
$widget-inside-line-height:     16px;
$widget-inside-border-width:    1px;
$widget-inside-border-color:    #e5e5e5;
$widget-inside-background:      #fff;

// Placeholder
$widget-placeholder-border-width:   1px;
$widget-placeholder-border-color:   #b4b9be;
$widget-placeholder-height:         $widget-top-height;



.pb-widget
{
    // Don't set left and right margins for column widget
	margin-top: $widget-margin-y; 
    
    position: relative;
    box-sizing: border-box;

    &.ui-sortable-helper 
    {
        opacity: 0.8;
    }

    &.closed
    {
        > .pb-widget-inside
        {
            display: none;
        }
    }
}

.pb-widget-top
{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

    color: $widget-top-color;
    font-size: $widget-top-font-size;
    line-height: $widget-top-line-height;
    font-weight: $widget-top-font-weight;
    border: $widget-top-border-width solid $widget-top-border-color;
    background: $widget-top-background;

    &:hover
    {
    	border-color: $widget-top-border-color-hover;
    }

	.js &
	{
		cursor: move;
	}
}

.pb-widget-title
{
	width: 100%;
	margin: 0;
    padding: $widget-top-padding-y $widget-top-padding-x;
    font-size: $widget-title-font-size;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.pb-widget-controls
{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	padding-right: 10px;
}

.pb-widget-control
{
	color: $widget-control-color;
	padding: $widget-control-padding-y $widget-control-padding-x;
	border: none;
    background: none;
    outline: none;
    cursor: pointer;

    &:hover
    {
    	color: $widget-control-hover-color;
    }
}

.pb-widget-inside
{
    padding: 1px $widget-inside-padding-x $widget-inside-padding-y;
    line-height: $widget-inside-line-height;
    border: $widget-inside-border-width solid $widget-inside-border-color;
    border-top: none;
    background: $widget-inside-background;
}

.pb-widget-preview
{
	user-select: none;
}

.pb-widget-meta
{
    margin: $widget-inside-padding-y 0 0;
    padding: 0;
    list-style: none;
    display: block;

    > li
    {
        display: inline;
        margin: 0;
        padding: 0;

        &:not( :last-child )
        {
            &:after
            {
                content: ', ';
            }
        }
    }
}

.pb-preview-content
{
    margin: $widget-inside-padding-y 0 0;
    padding: 0;

    p
    {
        margin: 0 0 1em;

        &:last-child
        {
            margin-bottom: 0;
        }
    }
}

.pb-widget-description
{
	display: none;
}

.pb-widget-placeholder,
.pb-add-widget-control
{
    border: $widget-placeholder-border-width dashed $widget-placeholder-border-color;
    margin: $widget-margin-y auto 0;
    height: $widget-placeholder-height;
    width: 100%;
    box-sizing: border-box;
}

.pb-add-widget-control
{
    &:hover
    {
        border-color: #999;
    }

    .js &
    {
        cursor: pointer;
    }
}

.pb-toggle-indicator
{
	@include make-dashicon( "\f142" );

    .closed &:before
    {
    	content: "\f140";
    }
}

.pb-available-widgets
{
    .pb-row
    {
        margin: 0 -7.5px -15px;
    }

    .pb-col,
    [class*="pb-col-"]
    {
        padding: 0 7.5px;
        margin-bottom: 15px;
    }

    .pb-widget-controls,
    .pb-widget-inside
    {
        display: none;
    }

    .pb-widget-description
    {
        display: block;
        margin-top: 2px;
    }

    .pb-widget-top
    {
        cursor: default;
        border: none;
        background: transparent;
        //box-shadow: none;
    }

    .pb-widget-title
    {
        padding: 0;
        line-height: inherit;
    }

    .pb-widget
    {
        position: relative;
        height: 100%;

        margin: 0;
        padding: 12px 15px;
        border: 1px solid #e5e5e5;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.04);

        &:hover
        {
            border-color: #999;
            box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        }

        .js &
        {
            cursor: pointer;
        }
    }
}

.pb-widgets
{
    .pb-row
    {
        margin: 0 -7.5px;
    }

    .pb-col,
    [class*="pb-col-"]
    {
        padding: 0 7.5px;
    }
}

.pb-row-widget,
.pb-column-widget
{
    > .pb-widget-inside
    {
        > .pb-widget-container
        {
            margin: -1px (-$widget-inside-padding-x) (-$widget-inside-padding-y);
            padding: 0 $widget-inside-padding-x $widget-inside-padding-y;

            min-height: 15px;
        }
    }
}

.pb-row-widget
{
    > .pb-widget-inside
    {
        > .pb-widget-container
        {
            padding: 0 7.5px 15px;
        }
    }
}

#pb-widget-settings-modal
{
    h1
    {
        margin-bottom: 0;
    }

    .pb-fields
    {
        > .nav-tab-wrapper
        {
            border: none;
            padding: 0;
            background: #e5e5e5;

            .nav-tab
            {
                border: none;
                margin-left: 0;
                padding: 12px 20px;

                &.nav-tab-active
                {
                    background-color: #fff;
                }
            }
        }
    }
}

#pb-widget-picker-modal
{
    .pb-modal-content
    {
        background-color: #F3F3F3;
    }
}

#pb-widget-picker
{
    .pb-notice
    {
        margin: 1px 0px;
    }
}