
.pb-available-widgets
{
	display: none;
}

.pb-widget
{
	margin: 15px auto 0;
    position: relative;
    box-sizing: border-box;

    &.closed,
    &.ui-sortable-helper
    {
    	> .pb-widget-inside
    	{
    		display: none;
    	}
    }

    &.ui-sortable-helper 
    {
		opacity: 0.8;
	}
}

.pb-widget-top
{
	display: flex;
    align-items: center;

	color: #23282d;
	font-size: 13px;
	line-height: 1.4em;
	font-weight: 600;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba( #000, 0.04 );
	background: #fafafa;

	&:hover
	{
		border-color: #999;
    	box-shadow: 0 1px 2px rgba( #000, 0.1 );
	}

	.js &
	{
		cursor: move;
	}
}

.pb-widget-title
{
	flex: 1;
	width: 100%;
	margin: 0;
    padding: 15px;
    font-size: 1em;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.pb-widget-controls
{
	display: flex;
    align-items: center;
    padding-right: 10px;
}

.pb-widget-control
{
	cursor: pointer;
    outline: none;
    border: none;
    color: #555d66;
    background: none;
    padding: 11px 5px;

    &:hover
    {
    	color: inherit;
    }
}

.pb-widget-inside
{
	padding: 1px 15px 15px 15px;
	line-height: 16px;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
	box-shadow: 0 1px 1px rgba( #000, 0.04 );
}

.pb-widget-button
{
	cursor: pointer;
    outline: none;
    
    padding: 15px;
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba( #000, 0.04 );

    &:hover
	{
		border-color: #999;
    	box-shadow: 0 1px 2px rgba( #000, 0.1 );
	}
}

.pb-widget-button-title
{
	display: block;
	font-weight: 600;
}

.pb-widget-placeholder 
{
	border: 1px dashed #b4b9be;
	margin: 15px auto 0;
	height: 45px;
	width: 100%;
	box-sizing: border-box;
}

.pb-widget-meta
{
	margin: 15px 0 0;
	padding: 0;

	font-size: 12px;

	> li
	{
		display: inline-block;
		margin: 0;

		&:not( :last-child ):after
		{
			content: ",";
			margin-right: 5px;
		}
	}
}

#pb-widget-picker-modal
{
	.pb-modal-content
	{
		background-color: #f3f3f3;
	}
}

#pb-widget-picker
{
	.pb-widgets
	{
		[class*="pb-col"]
		{
			position: relative;
			margin-bottom: 15px;
    		
    		> .pb-widget-button
    		{
    			position: relative;
    			width: 100%;
    			height: 100%;
    		}
		}
	}
}
