/*!
 * Editor
 */

@import "variables";
@import "mixins";
@import "grid";
@import "modal";
@import "fields";
@import "widgets";

.pb-editor-footer
{
	margin-top: 15px;
}

.pb-toggle-indicator
{
	&:before
	{
		content: "\f142";
	    font: normal 20px/1 dashicons;
	    speak: none;
	    display: block;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    text-decoration: none !important;
	}
	
    .closed &:before
    {
    	content: "\f140";
    }
}

.pb-add-widget-control
{
	font-size: 1em;
    line-height: 1;
	cursor: pointer;
	outline: none;
	display: block;
	border: 1px dashed #b4b9be;
	margin: 0;
	padding: 15px;
    font-size: 1em;
    line-height: 1;
	height: 45px;
	width: 100%;
	box-sizing: border-box;
}